student.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">
<xs:element name="students-xsd">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="firstname" type="xs:string" />
      <xs:element name="lastname" type="xs:string" />
      <xs:element name="roll_no" type="xs:string" />
      <xs:element name="division" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>